<a href="https://colab.research.google.com/github/nirmaljb/deep-learning-notebooks/blob/main/ovarian_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
cancer = pd.read_csv('/content/drive/MyDrive/ovariantotal.csv')
cancer.head()

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA,TYPE
0,3.58,19.36,47,45.4,56,11,24,0.01,0.30,5.35,...,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4,0
1,34.24,23.98,61,39.9,95,9,13,0.02,0.30,3.21,...,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2,0
2,1.50,18.40,39,45.4,77,9,18,0.03,0.60,3.80,...,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2,0
3,2.75,16.60,45,39.2,26,16,17,0.05,0.74,5.27,...,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6,0
4,2.36,19.97,45,35.0,47,21,27,0.01,0.10,4.89,...,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0,0

In [2]:
cancer.shape

(349, 50)

In [3]:
X = cancer.drop('TYPE', axis=1)
y = cancer['TYPE']

In [4]:
y

0      0
1      0
2      0
3      0
4      0
      ..
344    1
345    1
346    1
347    1
348    1
Name: TYPE, Length: 349, dtype: int64

In [5]:
from sklearn import preprocessing
min_max_scalar = preprocessing.MinMaxScaler()
X_scale = min_max_scalar.fit_transform(X)
print(X_scale)

[[2.45578349e-03 4.85071876e-01 4.70588235e-01 ... 8.37988827e-02
  7.60667904e-01 5.60447761e-01]
 [2.78074070e-02 6.55363067e-01 6.76470588e-01 ... 1.20111732e-01
  7.25417440e-01 4.32835821e-02]
 [7.35908185e-04 4.49686694e-01 3.52941176e-01 ... 3.43575419e-01
  8.34879406e-01 2.11194030e-01]
 ...
 [1.83563615e-03 4.80280133e-01 6.47058824e-01 ... 3.15642458e-01
  6.58627087e-01 2.11753731e-01]
 [1.01704165e-03 7.74788058e-01 2.20588235e-01 ... 2.45810056e-01
  7.99628942e-01 3.53917910e-01]
 [8.26863129e-04 2.50645042e-01 3.52941176e-01 ... 1.62011173e-01
  6.62337662e-01 1.65858209e-01]]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.2, random_state=0)

In [7]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(32, activation='relu', input_dim=49))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=32, epochs=5)

Epoch 1/5
9/9 ━━━━━━━━━━━━━━━━━━━━ 2s 71ms/step - accuracy: 0.9864 - loss: 0.0299
Epoch 2/5
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9908 - loss: 0.0330
Epoch 3/5
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0293
Epoch 4/5
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9930 - loss: 0.0297
Epoch 5/5
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9921 - loss: 0.0387

In [16]:
y_pred = model.predict(X_test)
y_pred

3/3 ━━━━━━━━━━━━━━━━━━━━ 1s 232ms/step

array([[6.25036331e-03],
       [6.73018955e-03],
       [8.99192169e-02],
       [2.03069771e-06],
       [1.46624094e-04],
       [9.99955773e-01],
       [9.99177516e-01],
       [9.77733731e-03],
       [8.97730335e-09],
       [9.97427046e-01],
       [9.99861956e-01],
       [1.16321404e-04],
       [9.99985933e-01],
       [3.12317133e-01],
       [8.68990082e-06],
       [4.05528508e-02],
       [6.23340271e-02],
       [9.98079181e-01],
       [9.99982119e-01],
       [3.77012114e-03],
       [9.92048562e-01],
       [9.56453383e-02],
       [2.18712022e-14],
       [9.95981336e-01],
       [2.50065246e-11],
       [9.89404202e-01],
       [3.92126727e-19],
       [3.06430330e-14],
       [4.63437618e-06],
       [9.46521044e-01],
       [7.47458339e-02],
       [9.99560654e-01],
       [1.59003006e-22],
       [3.53220969e-07],
       [2.32797340e-02],
       [1.37084689e-17],
       [6.93343103e-01],
       [6.65138245e-01],
       [3.21446023e-05],
       [7.20765684e-07],
       [9.99506593e-01],
       [9.32999432e-01],
       [9.87808347e-01],
       [9.99997854e-01],
       [9.98768747e-01],
       [7.34356135e-15],
       [7.57482121e-05],
       [6.37255847e-01],
       [2.38009331e-19],
       [2.30749734e-07],
       [1.98816359e-01],
       [9.99850512e-01],
       [9.99864340e-01],
       [1.93713822e-06],
       [4.98374039e-03],
       [9.99658346e-01],
       [3.63906562e-01],
       [9.75846529e-01],
       [2.56812400e-05],
       [4.53527302e-01],
       [9.98544276e-01],
       [9.97845888e-01],
       [5.52061237e-02],
       [9.97959018e-01],
       [3.70543525e-08],
       [8.55471881e-05],
       [9.63320916e-12],
       [9.99806523e-01],
       [9.99859571e-01],
       [1.45709663e-07]], dtype=float32)

In [17]:
y_pred = np.where(y_pred > 0.5, 1, 0)
y_pred = y_pred.astype(int)
import numpy as np

np.column_stack((y_pred, y_test))

array([[0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 0]])

In [18]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[37  4]
 [ 4 25]]
0.8857142857142857